body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/***********************************CSS Global**********************************/

@import-normalize.css;  

/* VARIABLES */
:root {
  --color-primary: #50006c;
  --color-secondary: #f5e8da;
  --color-bcg: #f2f2f2;
  --color-text: #4d4d4d;
  --color-cta: #6a0924;
  --color-cta-menu: #d4deb7;
  --font-title: 'Poppins', sans-serif;
  --font-text: 'Inter', sans-serif;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--font-text);
  color: var(--color-text);
  background-color: var(--color-bcg);
  line-height: 1.5;
}

/*  Header et Footer */

header,
footer {
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Titres */

h1,
h2::not(.errorTitle),
h3,
h4 {
  color: var(--color-cta);
  font-family: var(--font-title);
}

/* Liens */

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-cta-menu);
}

