.navHeader {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.navHeader > .submenu {
    height: 5.6rem;
}
.burgerMenu {
    display: grid;
    grid-template-columns: 4fr 0.4fr;
    grid-template-rows: 1fr;
    border-bottom: 0.1rem solid var(--color-text);
    
}

.burgerMenu .btn {
    background:transparent;
    border: none;
    
}
.navHeader a,
.navHeader p {
    display: block;
    padding: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.desktopNav, .shopList {
    display: none;
}

.shopList{
    background-color: var(--color-cta-menu);
}
.submenu .btn {
    position: relative;
    top: -8vw;
    left: 94vw;
    background: transparent;
    border: none;
}
.isActive {
    display:block;
}
/* Mode Desktop */

@media screen and (min-width: 768px) {

    .navHeader a {
        display: inline-block;
    }

    .burgerMenu {
        display: none;
    }
    .desktopNav {
        display: flex;
        justify-content: center;
    }
}