nav {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

nav a,
nav p {
    display: block;
    padding: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

p {
    border-bottom: 0.1rem solid var(--color-text);
}

/* Mode Desktop */

@media screen and (min-width: 768px) {

    nav a {
        display: inline-block;
    }

    nav p {
        display: none;
    }
    .desktopNav {
        display: flex;
        justify-content: center;
    }
}