.navHeader {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.navHeader a,
.navHeader p {
    display: block;
    padding: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.menuTxt {
    border-bottom: 0.1rem solid var(--color-text);
}

/* Mode Desktop */

@media screen and (min-width: 768px) {

    .navHeader a {
        display: inline-block;
    }

    .navHeader p {
        display: none;
    }
    .desktopNav {
        display: flex;
        justify-content: center;
    }
}