.container {
  color: var(--color-cta);
  font-family: var(--font-title);
  text-transform: uppercase;
  text-align: center;
  padding: 6rem;
  border-bottom: 1px dotted var(--color-cta);
  background-image: url("../../assets/img/background_pageHeader.png");
}
